.header-area {
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: $white; //rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid $primary-color;
}
.header-area.sticky {
  background-color: $white; //#000000;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  .classy-navbar {
    height: 75px;
  }
}

.classy-nav-container {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-color: transparent;
  padding: 0;
  * {
    box-sizing: border-box;
  }
  a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    display: inline-block;
    &:hover {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: none;
      font-size: 14px;
      color: #1abc9c;
    }
    &:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: none;
      font-size: 14px;
      color: #1abc9c;
    }
  }
  .classy-navbar {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 85px;
    padding: 0;

    @media only screen and (max-width: 767px) {
      height: 75px;
    }

    .classynav {
      ul {
        li {
          a {
            font-size: 16px;
            color: $black;
            font-weight: 500;
            padding: 0 15px;
            &:hover {
              color: $primary-color;
            }
            &:focus {
              color: $primary-color;
            }
          }
        }

        li.cn-dropdown-item {
          ul {
            li {
              a {
                font-size: 14px;
                text-transform: uppercase;
                height: 42px;
                line-height: 42px;
                padding: 0 30px;
                color: #111343;
                &:focus {
                  color: $primary-color;
                }
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
        li.megamenu-item {
          ul {
            li {
              a {
                font-size: 14px;
                text-transform: uppercase;
                height: 42px;
                line-height: 42px;
                padding: 0 30px;
                color: #111343;
                &:focus {
                  color: $primary-color;
                }
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
        li.active {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.classy-navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  .nav-brand {
    font-size: 26px;
    font-weight: 500;
    color: #232323;
    display: inline-block;
    margin-right: 30px;

    @media only screen and (max-width: 767px) {
      img {
        width: 80%;
      }
    }

    &:focus {
      font-size: 26px;
      font-weight: 500;
    }
    &:hover {
      font-size: 26px;
      font-weight: 500;
    }
  }
}
.classynav {
  ul {
    li {
      display: inline-block;
      clear: both;
      position: inherit;
      z-index: 10;
      ul {
        li {
          display: block;
          a {
            padding: 0 20px;
          }
        }
        li.has-down {
          >a {
            &::after {
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              position: absolute;
              top: 2px;
              right: 10px;
              z-index: 3;
            }
          }
        }
      }
      a {
        padding: 0 15px;
        display: block;
        height: 40px;
        font-size: 14px;
        line-height: 39px;
      }
      .megamenu {
        li {
          a {
            padding: 0 12px;
          }
        }
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: #ffffff;
        z-index: 200;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        .single-mega.cn-col-5 {
          width: 20%;
          float: left;
          padding: 15px;
          border-right: 1px solid #f2f4f8;
          &:last-of-type {
            border-right: none;
          }
        }
        .single-mega.cn-col-4 {
          width: 25%;
          float: left;
          padding: 15px;
          border-right: 1px solid #f2f4f8;
          &:last-of-type {
            border-right: none;
          }
        }
        .single-mega.cn-col-3 {
          width: 33.3333334%;
          float: left;
          padding: 15px;
          border-right: 1px solid #f2f4f8;
          &:last-of-type {
            border-right: none;
          }
        }
        .single-mega {
          .title {
            font-size: 14px;
            border-bottom: 1px solid #f2f4f8;
            padding: 8px 12px;
          }
        }
      }
      div.single-mega {
        * {
          width: 100%;
          max-width: 100%;
        }
        a {
          height: auto;
          line-height: 1;
        }
      }
      .dropdown {
        li {
          a {
            border-bottom: 1px solid rgba(242, 244, 248, 0.7);
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
          .dropdown {
            li {
              a {
                border-bottom: 1px solid rgba(242, 244, 248, 0.7);
              }
              &:last-child {
                a {
                  border-bottom: none;
                }
              }
              .dropdown {
                li {
                  a {
                    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                  }
                  &:last-child {
                    a {
                      border-bottom: none;
                    }
                  }
                  .dropdown {
                    li {
                      a {
                        border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                      }
                      &:last-child {
                        a {
                          border-bottom: none;
                        }
                      }
                      .dropdown {
                        li {
                          a {
                            border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                          }
                          &:last-child {
                            a {
                              border-bottom: none;
                            }
                          }
                          .dropdown {
                            li {
                              a {
                                border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                              }
                              &:last-child {
                                a {
                                  border-bottom: none;
                                }
                              }
                              .dropdown {
                                li {
                                  a {
                                    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                                  }
                                  &:last-child {
                                    a {
                                      border-bottom: none;
                                    }
                                  }
                                  .dropdown {
                                    li {
                                      a {
                                        border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                                      }
                                      &:last-child {
                                        a {
                                          border-bottom: none;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    li.cn-dropdown-item {
      position: relative;
      z-index: 10;
      ul {
        li {
          position: relative;
          z-index: 10;
        }
      }
    }
    li.megamenu-item {
      >a {
        &:after {
          font-family: "classyfonts";
          content: "\e900";
          font-size: 12px;
          color: #000000;
          padding-left: 5px;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
        }
        &::after {
          color: $primary-color;
        }
      }
    }
    li.has-down {
      >a {
        &:after {
          font-family: "classyfonts";
          content: "\e900";
          font-size: 12px;
          color: #000000;
          padding-left: 5px;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
        }
        &::after {
          color: $primary-color;
        }
      }
    }
    li.has-down.active {
      >a {
        &::after {
          color: $primary-color;
        }
      }
    }
  }
}

.breakpoint-off {
  .classynav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    ul {
      li {
        .dropdown {
          width: 180px;
          position: absolute;
          background-color: #ffffff;
          top: 120%;
          left: 0;
          z-index: 100;
          height: auto;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
          opacity: 0;
          visibility: hidden;
          padding: 10px 0;
          width: 200px;
          -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          border-radius: 4px;
          // li {
          //   .dropdown {
          //     top: 10px;
          //     left: 180px;
          //     z-index: 200;
          //     opacity: 0;
          //     visibility: hidden;
          //     li {
          //       .dropdown {
          //         opacity: 0;
          //         visibility: hidden;
          //         top: 120%;
          //         li {
          //           .dropdown {
          //             opacity: 0;
          //             visibility: hidden;
          //             top: 120%;
          //             li {
          //               .dropdown {
          //                 opacity: 0;
          //                 visibility: hidden;
          //                 top: 120%;
          //                 li {
          //                   .dropdown {
          //                     opacity: 0;
          //                     visibility: hidden;
          //                     top: 120%;
          //                     li {
          //                       .dropdown {
          //                         opacity: 0;
          //                         visibility: hidden;
          //                         top: 120%;
          //                         li {
          //                           .dropdown {
          //                             opacity: 0;
          //                             visibility: hidden;
          //                             top: 120%;
          //                             li {
          //                               .dropdown {
          //                                 opacity: 0;
          //                                 visibility: hidden;
          //                                 top: 120%;
          //                                 li {
          //                                   .dropdown {
          //                                     opacity: 0;
          //                                     visibility: hidden;
          //                                     top: 120%;
          //                                   }
          //                                   &:hover {
          //                                     .dropdown {
          //                                       opacity: 1;
          //                                       visibility: visible;
          //                                       top: -10px;
          //                                     }
          //                                   }
          //                                 }
          //                               }
          //                               &:hover {
          //                                 .dropdown {
          //                                   opacity: 1;
          //                                   visibility: visible;
          //                                   top: -10px;
          //                                 }
          //                               }
          //                             }
          //                           }
          //                           &:hover {
          //                             .dropdown {
          //                               opacity: 1;
          //                               visibility: visible;
          //                               top: -10px;
          //                             }
          //                           }
          //                         }
          //                       }
          //                       &:hover {
          //                         .dropdown {
          //                           opacity: 1;
          //                           visibility: visible;
          //                           top: -10px;
          //                         }
          //                       }
          //                     }
          //                   }
          //                   &:hover {
          //                     .dropdown {
          //                       opacity: 1;
          //                       visibility: visible;
          //                       top: -10px;
          //                     }
          //                   }
          //                 }
          //               }
          //               &:hover {
          //                 .dropdown {
          //                   opacity: 1;
          //                   visibility: visible;
          //                   top: -10px;
          //                 }
          //               }
          //             }
          //           }
          //           &:hover {
          //             .dropdown {
          //               opacity: 1;
          //               visibility: visible;
          //               top: -10px;
          //             }
          //           }
          //         }
          //       }
          //       &:hover {
          //         .dropdown {
          //           opacity: 1;
          //           visibility: visible;
          //           top: -10px;
          //         }
          //       }
          //     }
          //   }
          //   &:hover {
          //     .dropdown {
          //       opacity: 1;
          //       visibility: visible;
          //       top: -10px;
          //     }
          //   }
          // }
        }
        &:hover {
          .dropdown {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
        .megamenu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          width: 100%;
          left: 0;
          top: 120%;
          background-color: #ffffff;
          z-index: 200;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
          width: 200px;
          -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          border-radius: 4px;
          width: 100%;
        }
      }
      li.megamenu-item {
        &:hover {
          .megamenu {
            top: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
        &:focus {
          .megamenu {
            top: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
.breakpoint-on {
  .classycloseIcon {
    display: block;
  }
  .classy-navbar-toggler {
    display: block;
  }
  .classy-navbar {
    .classy-menu {
      background-color: #ffffff;
      position: fixed;
      top: 0;
      left: -340px;
      z-index: 9999;
      width: 320px;
      height: 100%;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      padding: 0;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .classy-menu.menu-on {
      left: 0;
    }
  }
  .classynav {
    ul {
      li {
        display: block;
        position: relative;
        clear: both;
        z-index: 10;
        a {
          padding: 0 15px;
          height: 45px;
          line-height: 45px;
        }
        .dropdown {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          box-shadow: none;
          display: none;
          li {
            .dropdown {
              width: 100%;
              position: relative;
              top: 0;
              left: 0;
            }
          }
        }
        .megamenu {
          display: none;
          position: relative;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 200;
          box-shadow: none;
          .single-mega.cn-col-5 {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #f2f4f8;
          }
          .single-mega.cn-col-4 {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #f2f4f8;
          }
          .single-mega.cn-col-3 {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #f2f4f8;
          }
        }
        ul.dropdown {
          li {
            ul {
              li {
                margin-left: 15px;
              }
            }
          }
        }
      }
      li.megamenu-item {
        position: relative;
        z-index: 10;
        >a {
          &::after {
            display: none;
          }
        }
      }
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      li.has-down {
        >a {
          &::after {
            display: none;
          }
        }
      }
      li.has-down.active {
        >.dd-trigger {
          background-color: #27ae60;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
      li.megamenu-item.active {
        >.dd-trigger {
          background-color: #27ae60;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    padding-top: 60px;
    margin-bottom: 60px;
    >ul {
      >li {
        >a {
          background-color: #f2f4f8;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .dd-trigger {
    height: 31px;
    width: 31px;
    background-color: #2c3e50;
    top: 7px;
    right: 15px;
    left: auto;
    display: block;
    border-radius: 2px;
    &::after {
      font-family: "classyfonts";
      content: "\e900";
      font-size: 12px;
      color: #fff;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

