.header-area {
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: $white; //rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid $primary-color;
}
.header-area.sticky {
  background-color: $white; //#000000;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  .classy-navbar {
    height: 75px;
  }
}

.classy-nav-container {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-color: transparent;
  padding: 0;
  * {
    box-sizing: border-box;
  }
  a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    display: inline-block;
    &:hover {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: none;
      font-size: 14px;
      color: #1abc9c;
    }
    &:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: none;
      font-size: 14px;
      color: #1abc9c;
    }
  }
  .classy-navbar {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 85px;
    padding: 0;

    @media only screen and (max-width: 767px) {
      height: 75px;
    }

    .classynav {
      ul {
        li {
          &.border-r {
            border-right: 1px solid #c3cad8;
            padding-right: 10px;

            @media only screen and (max-width: 767px) {
              padding-right: 0;
            }
          }

          &.pl-5 {
            padding-left: 5px;
          }

          &.sp-hidden {
            @media only screen and (max-width: 767px) {
              display: none;
            }
          }

          &.btn-signup {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 5px;

            @media only screen and (max-width: 767px) {
              margin: 0 30px;
              border: none;
              margin-top: 10px;

              a {
                background-color: $primary-color;
              }
            }

            a {
              color: $white;
            }

            &:hover {
              background-color: $white;

              a {
                color: $primary-color;
              }
            }
          }

          a {
            font-size: 16px;
            color: $black;
            font-weight: 500;
            padding: 0 10px;
            &:hover {
              color: $primary-color;
            }
            &:focus {
              color: $primary-color;
            }
          }
        }

        li.cn-dropdown-item {
          ul {
            li {
              a {
                font-size: 14px;
                text-transform: uppercase;
                height: 42px;
                line-height: 42px;
                padding: 0 30px;
                color: #111343;
                &:focus {
                  color: $primary-color;
                }
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
        li.megamenu-item {
          ul {
            li {
              a {
                font-size: 14px;
                text-transform: uppercase;
                height: 42px;
                line-height: 42px;
                padding: 0 30px;
                color: #111343;
                &:focus {
                  color: $primary-color;
                }
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
        li.active {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.classy-navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  .nav-brand {
    font-size: 26px;
    font-weight: 500;
    color: #232323;
    display: inline-block;
    margin-right: 30px;

    img {
      width: 90%;
    }

    @media only screen and (max-width: 767px) {
      img {
        width: 80%;
      }
    }

    &:focus {
      font-size: 26px;
      font-weight: 500;
    }
    &:hover {
      font-size: 26px;
      font-weight: 500;
    }
  }
}
.classynav {
  ul {
    li {
      display: inline-block;
      clear: both;
      position: inherit;
      z-index: 10;
      ul {
        li {
          display: block;
          a {
            padding: 0 10px;
          }
        }
        li.has-down {
          >a {
            &::after {
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              position: absolute;
              top: 2px;
              right: 10px;
              z-index: 3;
            }
          }
        }
      }
      a {
        padding: 0 15px;
        display: block;
        height: 40px;
        font-size: 14px;
        line-height: 39px;
      }
    }
    li.cn-dropdown-item {
      position: relative;
      z-index: 10;
      ul {
        li {
          position: relative;
          z-index: 10;
        }
      }
    }
  }
}

.breakpoint-off {
  .classynav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    ul {
      li {
        .dropdown {
          width: 180px;
          position: absolute;
          background-color: #ffffff;
          top: 120%;
          left: 0;
          z-index: 100;
          height: auto;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
          opacity: 0;
          visibility: hidden;
          padding: 10px 0;
          width: 200px;
          -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          border-radius: 4px;
        }
      }
    }
  }
}

.breakpoint-on {
  .classycloseIcon {
    display: block;
  }
  .classy-navbar-toggler {
    display: block;
  }
  .classy-navbar {
    .classy-menu {
      background-color: #ffffff;
      position: fixed;
      top: 0;
      left: -340px;
      z-index: 9999;
      width: 320px;
      height: 100%;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      padding: 0;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .classy-menu.menu-on {
      left: 0;
    }
  }
  .classynav {
    ul {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      padding-top: 60px;
      margin-bottom: 60px;

      li {
        display: block;
        position: relative;
        clear: both;
        z-index: 10;
        a {
          padding: 0 10px;
          height: 45px;
          line-height: 45px;
        }
        .dropdown {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          box-shadow: none;
          display: none;

          @media only screen and (max-width: 767px) {
            display: block;
          }

          li {
            .dropdown {
              width: 100%;
              position: relative;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    
    ul {
      li {
        a {
          background-color: #f2f4f8;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

#info {
  background-color: red;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid $primary-color;

  @media only screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white;
  min-width: 180px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -5px;
  margin-top: 15px;

  @media only screen and (max-width: 767px) {
    display: block;
    min-width: 266px;
    margin-top: -54px;
  }
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}

.modal-dialog {
  background-color: #fff;
  padding: 30px;
  max-width: 800px;
  pointer-events: all;

  .modal-content {
    .modal-header {
      button.close {
        margin-top: -40px;
        font-size: 30px;
        margin-right: -15px;
      }
    }
  }
}
